In [1]:
import pandas as pd 
import numpy as np 
print(pd.__version__)
print(np.__version__)

1.1.5
1.19.2

In [9]:
pd.set_option('display.max_columns', 100000)  
pd.set_option('display.max_rows', 100000)  
pd.set_option('display.width', 100000)  
pd.set_option ('display.max_colwidth',500) 
pd.set_option( 'display.precision',2)

In [5]:
# path 
train_data = "data/src/used_car_train_20200313.csv"
test_data = "data/src/used_car_testB_20200421.csv"
submit_data = "data/src/used_car_sample_submit.csv"

In [7]:
df = pd.read_csv(train_data, sep=" ")
df.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  ...       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14
0       0     736  20040402   30.0      6       1.0       0.0      0.0  ...  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762
1       1    2262  20030301   40.0      1       2.0       0.0      0.0  ...  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522
2       2   14874  20040403  115.0     15       1.0       0.0      0.0  ...  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963
3       3   71865  19960908  109.0     10       0.0       0.0      1.0  ...  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699
4       4  111080  20120103  110.0      5       1.0       0.0      0.0  ...  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482

[5 rows x 31 columns]

In [11]:
df.describe()

          SaleID       name   regDate      model      brand   bodyType   fuelType    gearbox      power  kilometer  regionCode    seller  offerType  creatDate      price        v_0        v_1        v_2        v_3        v_4        v_5       v_6        v_7        v_8        v_9      v_10      v_11      v_12      v_13      v_14
count  150000.00  150000.00  1.50e+05  149999.00  150000.00  145494.00  141320.00  144019.00  150000.00  150000.00   150000.00  1.50e+05   150000.0   1.50e+05  150000.00  150000.00  150000.00  150000.00  150000.00  150000.00  150000.00  1.50e+05  150000.00  150000.00  150000.00  1.50e+05  1.50e+05  1.50e+05  1.50e+05  1.50e+05
mean    74999.50   68349.17  2.00e+07      47.13       8.05       1.79       0.38       0.22     119.32      12.60     2583.08  6.67e-06        0.0   2.02e+07    5923.33      44.41      -0.04       0.08       0.08       0.02       0.25  4.49e-02       0.12       0.06       0.06 -1.00e-03  9.03e-03  4.81e-03  3.13e-04 -6.88e-04
std     43301.41   61103.88  5.36e+04      49.54       7.86       1.76       0.55       0.42     177.17       3.92     1885.36  2.58e-03        0.0   1.07e+02    7502.00       2.46       3.64       2.93       2.03       1.19       0.05  5.17e-02       0.20       0.03       0.04  3.77e+00  3.29e+00  2.52e+00  1.29e+00  1.04e+00
min         0.00       0.00  1.99e+07       0.00       0.00       0.00       0.00       0.00       0.00       0.50        0.00  0.00e+00        0.0   2.02e+07      11.00      30.45      -4.30      -4.47      -7.28      -4.36       0.00  0.00e+00       0.00       0.00       0.00 -9.17e+00 -5.56e+00 -9.64e+00 -4.15e+00 -6.55e+00
25%     37499.75   11156.00  2.00e+07      10.00       1.00       0.00       0.00       0.00      75.00      12.50     1018.00  0.00e+00        0.0   2.02e+07    1300.00      43.14      -3.19      -0.97      -1.46      -0.92       0.24  3.81e-05       0.06       0.04       0.03 -3.72e+00 -1.95e+00 -1.87e+00 -1.06e+00 -4.37e-01
50%     74999.50   51638.00  2.00e+07      30.00       6.00       1.00       0.00       0.00     110.00      15.00     2196.00  0.00e+00        0.0   2.02e+07    3250.00      44.61      -3.05      -0.38       0.10      -0.08       0.26  8.12e-04       0.10       0.06       0.06  1.62e+00 -3.58e-01 -1.31e-01 -3.62e-02  1.41e-01
75%    112499.25  118841.25  2.01e+07      66.00      13.00       3.00       1.00       0.00     150.00      15.00     3843.00  0.00e+00        0.0   2.02e+07    7700.00      46.00       4.00       0.24       1.57       0.87       0.27  1.02e-01       0.13       0.08       0.09  2.84e+00  1.26e+00  1.78e+00  9.43e-01  6.80e-01
max    149999.00  196812.00  2.02e+07     247.00      39.00       7.00       6.00       1.00   19312.00      15.00     8120.00  1.00e+00        0.0   2.02e+07   99999.00      52.30       7.32      19.04       9.85       6.83       0.29  1.51e-01       1.40       0.16       0.22  1.24e+01  1.88e+01  1.38e+01  1.11e+01  8.66e+00

In [ ]:
Field	Description
SaleID	交易ID，唯一编码[0-149999]
name	汽车交易名称，已脱敏[共99662]
regDate	汽车注册日期，例如20160101，2016年01月01日[19910001-20151212]
model	车型编码，已脱敏[248种车型，0-247]
brand	汽车品牌，已脱敏[40种品牌，0-39]
bodyType	车身类型：豪华轿车：0，微型车：1，厢型车：2，大巴车：3，敞篷车：4，双门汽车：5，商务车：6，搅拌车：7  [0-7]
fuelType	燃油类型：汽油：0，柴油：1，液化石油气：2，天然气：3，混合动力：4，其他：5，电动：6  [0-6]
gearbox	变速箱：手动：0，自动：1  [0-1]
power	发动机功率：范围 [ 0, 600 ]  [566种功率，0-19312]
kilometer	汽车已行驶公里，单位万km  [13种，0.5-15]
notRepairedDamage	汽车有尚未修复的损坏：是：0，否：1  [三种，0,1,-]
regionCode	地区编码，已脱敏  [7905个值]
seller	销售方：个体：0，非个体：1 
offerType	报价类型：提供：0，请求：1  [全0]
creatDate	汽车上线时间，即开始售卖时间  [20150618-20160407]
price	二手车交易价格（预测目标）[11-99999]
v系列特征	匿名特征，包含v0-14在内15个匿名特征

## 数据分析

In [24]:
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [25]:
# 查案每一列空值情况
df.isnull().sum()

SaleID                  0
name                    0
regDate                 0
model                   1
brand                   0
bodyType             4506
fuelType             8680
gearbox              5981
power                   0
kilometer               0
notRepairedDamage       0
regionCode              0
seller                  0
offerType               0
creatDate               0
price                   0
v_0                     0
v_1                     0
v_2                     0
v_3                     0
v_4                     0
v_5                     0
v_6                     0
v_7                     0
v_8                     0
v_9                     0
v_10                    0
v_11                    0
v_12                    0
v_13                    0
v_14                    0
dtype: int64